{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<style>

.table-responsive{

width:1100px;

}

.mb-4 {
    margin-bottom: 1.5rem !important;
    width: 1100px;
}

</style>
    <main class="content">

        {% include 'includes/navigation.html' %}

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="btn-toolbar dropdown">
                <button class="btn btn-primary btn-sm mr-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fas fa-plus mr-2"></span>New Task
                </button>
                <div class="dropdown-menu dashboard-dropdown dropdown-menu-left mt-2">
                    <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-tasks"></span>New Task</a>
                    <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-cloud-upload-alt"></span>Upload Files</a>
                    <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-user-shield"></span>Preview Security</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-rocket text-danger"></span>Upgrade to Pro</a>
                </div>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-primary">Export</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-8 mb-4">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card border-light shadow-sm">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                    <h2 class="h5">TimeSheet</h2>
                                    </div>
                                    <div class="col text-right">
                                        <a href="#" class="btn btn-sm btn-secondary">save</a>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Projects</th>
                                        <th scope="col">No. of Hours</th>
                                        <th scope="col">Brief Description</th>
                                        <th scope="col">Remarks</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">
                                            /demo/admin/index.html
                                        </th>
                                        <td>
                                            3,225
                                        </td>
                                        <td>
                                            $20
                                        </td>
                                        <td>
                                            <span class="fas fa-arrow-up text-danger mr-3"></span> 42,55%
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            /demo/admin/forms.html
                                        </th>
                                        <td>
                                            2,987
                                        </td>
                                        <td>
                                            0
                                        </td>
                                        <td>
                                            <span class="fas fa-arrow-down text-success mr-3"></span> 43,52%
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            /demo/admin/util.html
                                        </th>
                                        <td>
                                            2,844
                                        </td>
                                        <td>
                                        294
                                        </td>
                                        <td>
                                            <span class="fas fa-arrow-down text-success mr-3"></span> 32,35%
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            /demo/admin/validation.html
                                        </th>
                                        <td>
                                            2,050
                                        </td>
                                        <td>
                                            $147
                                        </td>
                                        <td>
                                            <span class="fas fa-arrow-up text-danger mr-3"></span> 50,87%
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            /demo/admin/modals.html
                                        </th>
                                        <td>
                                            1,483
                                        </td>
                                        <td>
                                            $19
                                        </td>
                                        <td>
                                            <span class="fas fa-arrow-down text-success mr-3"></span> 32,24%
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                        </div>
                    </div>
                </div>



    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
